body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to top right, #6600a6 0%, #5e0000 100%);
    height: 1280px;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #c45858;
}
.para {
text-align: center;
color: #6d71e4;
font-weight: bold;
font-size: 24px;
}

.clickMe {
    text-align: center;
    margin-top: 50px;
}

.clickMe button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.clickMe button:hover {
    background-color: #b67171;
    color: rgb(102, 196, 196);
}

#score {
    font-size: 24px;
    font-weight: bold;
    color: #557c96;
    text-align: center;
    display: block;
    margin-top: 20px;
}